/*---------------------------------------------------------------------------
  Theme: Metanoya
  
  Your CSS goes here
----------------------------------------------------------------------------*/

.icon-nav{
  max-width: 22px!important;
  margin-bottom: 6px;
}

